<div id="about">
	<p>On September 25th, 2008, I was visiting my brother and sister-in-law in Portland, Oregon. I had to poop, as I am wont to do, so I went to the bathroom like any normal dude. While washing my hands I noticed a peculiar little chart that had been taped on the wall next to the mirror.</p>

	<img class="img-responsive img-rounded chart" src="/images/original.jpg" />
	
	<p>As I was drying my hands off, I scanned the chart and figured out my new name according to Professor Poopypants: <a href="/eli/duke">Crusty Bubbletush</a>. I chuckled to myself and then grabbed my camera.</p>
	
	<p>I took <a href="http://www.flickr.com/photos/elisfanclub/2908192137/" target="_blank">a photo of that chart</a>, and it is now my most popular photo on Flickr, with over 12,000 views. I realize that is not a whole lot of views, but it is still <strong>my most popular photo</strong>. Of all the 40,000 photos that I've uploaded to Flickr, why the heck do so many people care about Professor Poopypants's Pocket-Sized "Name Change-O-Chart 2000"?</p>
	
	<p>I have no idea how that photo got so much Google Juice, but I still think Professor Poopypants is pretty darn funny. It's rare when I figure out someone's new name and don't crack a smile at least. Sometimes I laugh out loud! I wanted to be able to quickly share these funny little names with friends online, but the <a href="http://www.scholastic.com/captainunderpants/poopypants.htm" target="_blank">Official Professor Poopypants Website</a> is not very helpful.</p>
	
	<p>I felt a hole in my soul growing larger.</p>
	
	<p>In January 2012 I decided it was time to take action. As an exercise to improve my Ruby chops, I turned that little chart into a bonafide <a href="https://github.com/eliduke/Professor-Poopypants-Name-Change-O-Ruby-Script-2000" target="_blank">ruby script</a>. That script got things going in the right direction, but it wasn't good enough. A few days later I registered <a href="http://poopypants.net">poopypants.net</a>, and the rest is history.</p>
	
	<p>You're welcome, Internet.</p>
</div>