<p class="index">What is your name?</p>

<form role="form" action="" method="post">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <input required type="text" class="form-control input-lg" name="first" placeholder="First">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <input required type="text" class="form-control input-lg" name="last" placeholder="Last">
      </div>
    </div>
  </div>
  <button type="submit" class="btn-lg btn-primary btn-block">POOPIFY</button>
</form>
