<p class="hey">Hey, <%= @full_name %>!</p>
<p class="according">According to Professor Poopypants, your new name is:</p>
<p class="well well-sm poopypants"><%= @new_name %></p>
<p class="another"><a href="/">Wanna try another one?</a></p>
