<p class="hello">Hey, <%= @full_name %>!</p>
<p class="according">According to Professor Poopypants' "Name Change-O-Chart 2000," your new name is</p>
<p class="well well-sm poopypants"><%= @new_name %></p>
<p class="another"><a href="/">Wanna try another one?</a></p>
