body {
	text-align: center;
	background: #eee;
}

p.error {
	background-color: #D9534F;
	color: #fff;
}

p.hello {
	font-size: 175%
}

p.according {
	font-size: 130%
}

p.poopypants {
	font-size: 200%
}

img.smiley {
	width: 40px;
	margin-top: -10px;
}

#footer {
	margin: 20px 5px;
	padding: 10px 0;
	border-top: 1px solid #999;
}

#about p {
	text-align: left;
}

#about img {
	margin-bottom: 10px;
}