body {
  padding-top: 10px;
  text-align: center;
  background: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-size: 220%;
  margin-bottom: 20px;
}

h2 a { color: #333 }
h2 a:hover {
  color: #333;
  text-decoration: none;
}

p { font-size: 130% }

p.index {
  font-size: 200%;
  margin: -5px 0 10px 0;
  color: #666;
}

p.hey { font-size: 200%; margin-bottom: 25px }
p.according, p.another { font-size: 170% }
p.poopypants { font-size: 200% }

.input-lg { text-align: center }

#about p { text-align: left }
#about img { margin-bottom: 10px }

#footer {
  margin: 20px 5px;
  padding: 20px 0;
}

@media (min-width: 768px) {

  h2 { font-size: 300% }

  p.index {
    font-size: 300%;
    margin: -10px 0 20px 0;
  }

  p.error {
    font-size: 250%;
    padding: 10px 10px 15px 10px;
  }

  p.hey { font-size: 250% }
  p.according, p.another { font-size: 230%; font-weight: 300 }
  p.poopypants { font-size: 250%; }

  p {
    font-size: 150%;
    margin-bottom: 20px;
  }

  img.chart {
    float: left;
    margin-right: 30px;
    width: 50%;
  }

  .input-lg {
    height: 60px;
    font-size: 250%;
  }

  .btn-lg { font-size: 250%; }

@media (min-width: 992px) {

  h2 { font-size: 400% }

  p.index {
    font-size: 350%;
    color: #666;
    margin: -10px 0 20px 0;
  }

  p.error {
    font-size: 300%;
    padding: 10px 10px 18px 10px;
  }

  p.hey { font-size: 325% }
  p.according, p.another { font-size: 300% }
  p.poopypants { font-size: 350%; }

  p {
    font-size: 200%;
    margin-bottom: 20px;
  }

  img.chart {
    float: left;
    margin-right: 30px;
    width: 50%;
  }

  .input-lg {
    height: 80px;
    font-size: 300%;
  }

  .btn-lg { font-size: 300%; }
}

@media (min-width: 1200px) {

  h2 { font-size: 500% }

  p.index {
    font-size: 420%;
    margin-bottom: 30px;
  }

  p.error {
    font-size: 400%;
    padding: 10px 10px 20px 10px;
  }

  p.hey { font-size: 400% }
  p.according, p.another { font-size: 400% }
  p.poopypants { font-size: 450%; }

  p {
    font-size: 200%;
    margin-bottom: 30px;
  }

  img.chart {
    float: left;
    margin-right: 30px;
    width: 40%;
  }

  .input-lg {
    height: 100px;
    font-size: 300%;
  }

  .btn-lg { font-size: 400%; }
}
